h1, h2, h3 {
  font-family: 'Piedra', cursive;
  text-align: center;
}
li { text-decoration: none; }
#RPS_buttons { text-align: center; }
#outcomeView {
  padding: 1em 0;
	font-weight: 2em;
	text-align: center;
}
.chatMessages {
  padding: 2em 0;
	text-align: center;
}
